<div>
    <h3 class="title">Lista de productos</h3>
    <table class="product-list">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
        </tr>
        {{#if products.length}}
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div>
        <h4>There are no products</h4>
    </div>
    {{/if}}
</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }
    .title {
        text-align: center;
    }
    .product-list {
        width: 100%;
    }
</style>