form(action="/products/new", method="post")
    input(type='text', placeholder='title', name='title' required)
    input(type='text', placeholder='price', name='price' required)
    input(type='text', placeholder='thumbnail', name='thumbnail' required)
    button Enviar!


a(href='/products') Ver productos