<form action="/products/new" method="post">
    <input type="text" name="title" placeholder="Title" required/>
    <input type="text" name="price" placeholder="Price" required/>
    <input type="text" name="thumbnail" placeholder="Thumbnail" required/>
    <button> Enviar! </button>
</form>


<a href="/products"><button>Ir a productos</button></a>