div
    h1(class="title") Lista de productos
    table(class="product-list")
        tr
            th Título
            th Precio
            th Miniatura
        tr 
        tr
        each product in products
            td!=product.title
        tr 
    table
    a(href="/products/new") Agregar producto
div