<div class="row">
    {{#if products.length}}
    {{#each products}}
        <div class="col-md-3">{{> ProductCard }}</div>
    {{/each}}
    {{else}}
    <p class="text-black display-3 text-center my-5">No tenemos productos</p>
    {{/if}}
    <div class="card bg-success w-25">
        <a class="card-body" href="/products/create"><h1>Agregar Producto</h1></a>
    </div>
</div>
